.Who {
    width: 100%;
    height: 100vh;
    background: #121212 ;
    color:  #6d76f7;
    padding: 20px;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}


.Who-text {
    width: 40%;
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    padding: 18px;
}

.Who-text h1 {
    font-size: 80px;
}

.Who-p {
    font-size: 23px;
}
